@page
@model IndexModel
@{
ViewData["Title"] = "Fizz Buzz";
}
<div class="text-left">
    <h1 class="display-4">Welcome @Model.Name</h1>
    <form method="post">
        <div class="form-group">
            <label asp-for="FizzBuzz.Number"></label>
            <input asp-for="FizzBuzz.Number" class="form-control"/><br />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Zatwierdź</button>
            <span asp-validation-for="FizzBuzz.Number" class="text-danger"></span>
        </div>
        <div class="form-group">
            @if(Model.FizzBuzz != null)
            {
                if(Model.FizzBuzz.Result == "FizzBuzz")
                {
                    <div class="alert alert-success">@Model.FizzBuzz.Result</div>
                }
                else if(Model.FizzBuzz.Result == "Fizz" || Model.FizzBuzz.Result == "Buzz")
                {
                    <div class="alert alert-warning">@Model.FizzBuzz.Result</div>
                }
                else{
                    <div class="alert alert-danger">@Model.FizzBuzz.Result</div>
                }
            }
        </div>
    </form>
</div>